In [2]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
data=str()
for i in range(10,20):
    data+=str(i)+' '
print(data)

10 11 12 13 14 15 16 17 18 19

In [14]:
list1=[10, 20, 14, 55, 43, 87, 76]
print(len(list1))

7

In [17]:
str1='Artificial Intelligence'
for i in str1:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

-Your Name-
-Your Age-
-Your Profession-

In [19]:
for i in ['Name','Age','Profession']:
    print(f'-Your {i}-')

-Your Name-
-Your Age-
-Your Profession-

(1, 'Welcome', 2, 'Hope')

In [23]:
tup1=(1,'Welcom', 2, 'Hope')
print(tup1)

(1, 'Welcom', 2, 'Hope')

In [24]:
tup2=(1,2,3,4,5)
print(tup2)

(1, 2, 3, 4, 5)

In [26]:
tup3=(tup1,tup2)
print(tup3)

((1, 'Welcom', 2, 'Hope'), (1, 2, 3, 4, 5))

In [29]:
lst=(20,10,16,19,25,1,276,188)
for i in lst:
    if i%2:
        print(f'{i} is Odd Number')
    # else:
    #     print(f'{i} is Even Number')

19 is Odd Number
25 is Odd Number
1 is Odd Number

In [30]:
lst=(20,10,16,19,25,1,276,188)
for i in lst:
    if i%2:
        pass
    else:
        print(f'{i} is Even Number')

20 is Even Number
10 is Even Number
16 is Even Number
276 is Even Number
188 is Even Number